In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, and_, or_

In [5]:
engine = create_engine("mysql://root:password@127.0.0.1:3306/health_monitor_db",pool_pre_ping=True)

ModuleNotFoundError: No module named 'MySQLdb'

In [17]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [18]:
# Collect the names of tables within the database
inspector.get_table_names()

['indicators', 'users', 'users_indicators_values']

In [19]:
# Using the inspector to print the column names within the 'indicators' table and its types
columns = inspector.get_columns('indicators')
for column in columns:
    print(column["name"], column["type"])

indicator_id INTEGER(11)
indicator_name VARCHAR(255)
indicator_type VARCHAR(255)

In [20]:
# Using the inspector to print the column names within the 'users' table and its types
columns = inspector.get_columns('users')
for column in columns:
    print(column["name"], column["type"])

user_id INTEGER(11)
user_nickname VARCHAR(255)
user_firstname VARCHAR(255)
user_lastname VARCHAR(255)
user_sex VARCHAR(255)
user_age INTEGER(11)
user_weight INTEGER(11)
user_height INTEGER(11)
user_country VARCHAR(255)
user_city VARCHAR(255)

In [21]:
# Using the inspector to print the column names within the 'users_indicators_values' table and its types
columns = inspector.get_columns('users_indicators_values')
for column in columns:
    print(column["name"], column["type"])

record_id INTEGER(11)
user_id INTEGER(11)
indicator_id INTEGER(11)
record_date DATE
indicator_value DOUBLE
notes VARCHAR(255)

In [22]:
# Use `engine.execute` to select and display the first 10 rows from the 'users' table
engine.execute('SELECT * FROM users LIMIT 10').fetchall()

[(1, 'juliette_leblanc', 'Juliette', 'Leblanc', 'female', 60, 60, 160, 'France', 'Paris')]

In [23]:
# Use `engine.execute` to select and display the first 10 rows from the 'indicators' table
engine.execute('SELECT * FROM indicators LIMIT 10').fetchall()

[(1, 'Slow acting insulin (morning intake dose)', 'Numeric'),
 (2, 'Fast acting insulin (morning intake dose)', 'Numeric'),
 (3, 'Fast acting insulin (lunch intake dose)', 'Numeric'),
 (4, 'Fast acting insulin (dinner intake dose)', 'Numeric'),
 (5, 'Morning glucose level', 'Numeric'),
 (6, 'Lunch glucose level', 'Numeric'),
 (7, 'Afternoon glucose level', 'Numeric'),
 (8, 'Dinner glucose level', 'Numeric'),
 (9, 'Evening glucose level', 'Numeric'),
 (10, 'Fast insulin (late evening intake dose)', 'Numeric')]

In [24]:
# Use `engine.execute` to select and display the first 10 rows from the 'users_indicators_values' table
engine.execute('SELECT * FROM users_indicators_values LIMIT 10').fetchall()

[(1, 1, 1, datetime.date(2018, 1, 31), 5.0, 'Night event: 35g croissant et une larme de miel'),
 (2, 1, 1, datetime.date(2018, 2, 1), 6.0, 'Night event: 1.5u 1.42 a 2h du mat'),
 (3, 1, 1, datetime.date(2018, 2, 2), 5.0, 'None'),
 (4, 1, 1, datetime.date(2018, 2, 3), 5.0, 'Night event: 3 dattes 1.22 23h/1.53 1h45'),
 (5, 1, 1, datetime.date(2018, 2, 4), 5.5, 'Night event: 1'),
 (6, 1, 1, datetime.date(2018, 2, 5), 5.0, 'Night event: 3 figues seches'),
 (7, 1, 1, datetime.date(2018, 2, 6), 5.0, 'Night event: 1 datte'),
 (8, 1, 1, datetime.date(2018, 2, 7), 5.0, 'Night event: 1 datte'),
 (9, 1, 1, datetime.date(2018, 2, 8), 5.0, 'Night event: 1 u'),
 (10, 1, 1, datetime.date(2018, 2, 9), 5.5, 'Night event: 1 cuillere de miel 3h 0.54 1 cuillere confiture')]

In [25]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [26]:
# We can view all of the classes that automap found
Base.classes.keys()

['indicators', 'users', 'users_indicators_values']

In [32]:
# Save references to each table
Users = Base.classes.users
Indicators = Base.classes.indicators
Users_Indicators_Values = Base.classes.users_indicators_values

In [33]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory User Indicator Values Analysis

In [30]:
session.query(Users.user_id).count()

1

In [55]:
# Design a query to retrieve the end date of the observations
end_date = session.query(Users_Indicators_Values.record_date).order_by(Users_Indicators_Values.record_date.desc()).first()
print(end_date[0])

2018-08-08

In [56]:
# Design a query to retrieve the end date of the observations
start_date = session.query(Users_Indicators_Values.record_date).order_by(Users_Indicators_Values.record_date.asc()).first()
print(start_date[0])

2018-01-31

In [104]:
## Design a query to retrieve the number of observations
no_of_obs = session.query(func.count(Users_Indicators_Values.indicator_value)).\
filter(Users_Indicators_Values.record_date <= end_date).\
filter(Users_Indicators_Values.record_date >= start_date).\
group_by(Users_Indicators_Values.user_id,Users_Indicators_Values.indicator_id ).all()

no_of_obs = [result[0] for result in no_of_obs[:]]
print(no_of_obs)

[2002]

In [146]:
## Design a query to retrieve the obersvation details for each patient for a given indicator and for a period of time
obs_results = session.query(Users_Indicators_Values.record_date, Users_Indicators_Values.indicator_value, Users_Indicators_Values.notes).\
filter(Users_Indicators_Values.record_date >= start_date).\
filter(Users_Indicators_Values.record_date <= end_date).\
group_by(Users_Indicators_Values.indicator_id).\
all()

#obs_count = [result[0] for result in obs_results[:]]
#observation_date = [result[1] for result in obs_results[:]]
#observation_value = [result[2] for result in obs_results[:]]
#observation_notes = [result[3] for result in obs_results[:]]

print(obs_results)

[(datetime.date(2018, 1, 31), Decimal('5.0000000000'), 'Night event: 35g croissant et une larme de miel'), (datetime.date(2018, 2, 1), Decimal('6.0000000000'), 'Night event: 1.5u 1.42 a 2h du mat'), (datetime.date(2018, 2, 2), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 2, 3), Decimal('5.0000000000'), 'Night event: 3 dattes 1.22 23h/1.53 1h45'), (datetime.date(2018, 2, 4), Decimal('5.5000000000'), 'Night event: 1'), (datetime.date(2018, 2, 5), Decimal('5.0000000000'), 'Night event: 3 figues seches'), (datetime.date(2018, 2, 6), Decimal('5.0000000000'), 'Night event: 1 datte'), (datetime.date(2018, 2, 7), Decimal('5.0000000000'), 'Night event: 1 datte'), (datetime.date(2018, 2, 8), Decimal('5.0000000000'), 'Night event: 1 u'), (datetime.date(2018, 2, 9), Decimal('5.5000000000'), 'Night event: 1 cuillere de miel 3h 0.54 1 cuillere confiture'), (datetime.date(2018, 2, 10), Decimal('7.0000000000'), 'None'), (datetime.date(2018, 2, 11), Decimal('5.5000000000'), 'Night event: 2 dattes'), (datetime.date(2018, 2, 12), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 2, 13), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 2, 14), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 2, 15), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 2, 16), Decimal('5.0000000000'), 'Night event: 2 u'), (datetime.date(2018, 2, 17), Decimal('6.0000000000'), 'None'), (datetime.date(2018, 2, 18), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 2, 19), Decimal('5.0000000000'), 'Night event: 2 gerbles sesame 1 gerble sans sucre'), (datetime.date(2018, 2, 20), Decimal('5.0000000000'), 'Night event: prunes et biscuits 2u 3h40 0.5 1 datte 1 biscuit'), (datetime.date(2018, 2, 21), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 2, 22), Decimal('4.5000000000'), 'Night event: 1 biscuit 1h 0.47 1 datte + 2 biscuits'), (datetime.date(2018, 2, 23), Decimal('4.5000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 2, 24), Decimal('5.0000000000'), 'Night event: 1 datte + 1 biscuit'), (datetime.date(2018, 2, 25), Decimal('5.0000000000'), 'Night event: 1.5 u'), (datetime.date(2018, 2, 26), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 2, 27), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 2, 28), Decimal('5.0000000000'), 'Night event: 1'), (datetime.date(2018, 3, 1), Decimal('6.5000000000'), 'Night event: 1 gerble'), (datetime.date(2018, 3, 2), Decimal('5.0000000000'), 'Night event: 1 biscuit chocolat'), (datetime.date(2018, 3, 3), Decimal('5.0000000000'), 'Night event: 1/2 gerble'), (datetime.date(2018, 3, 4), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 3, 5), Decimal('5.0000000000'), 'Night event: 1 gerble'), (datetime.date(2018, 3, 6), Decimal('4.5000000000'), 'Night event: 1.5 gerbles+1 biscuit chocolat'), (datetime.date(2018, 3, 7), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 3, 8), Decimal('5.0000000000'), 'Night event: 1'), (datetime.date(2018, 3, 9), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 3, 10), Decimal('5.0000000000'), 'Night event: gerble'), (datetime.date(2018, 3, 11), Decimal('5.0000000000'), 'Night event: 3/5 de gerble'), (datetime.date(2018, 3, 12), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 3, 13), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 3, 14), Decimal('5.0000000000'), 'Night event: 0.5u'), (datetime.date(2018, 3, 15), Decimal('5.0000000000'), 'Night event: 1'), (datetime.date(2018, 3, 16), Decimal('5.0000000000'), 'Night event: 2 gerbles + petit veres de siro de myrtille'), (datetime.date(2018, 3, 17), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 3, 18), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 3, 19), Decimal('5.0000000000'), 'Night event: 1 datte 1 gerbles'), (datetime.date(2018, 3, 20), Decimal('5.0000000000'), 'Night event: 1/2 gerbles'), (datetime.date(2018, 3, 21), Decimal('5.0000000000'), 'Night event: 1/2 gerbles'), (datetime.date(2018, 3, 22), Decimal('4.5000000000'), 'None'), (datetime.date(2018, 3, 23), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 3, 24), Decimal('5.0000000000'), 'Night event: 1/2 gerbles'), (datetime.date(2018, 3, 25), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 3, 26), Decimal('5.0000000000'), 'Night event: 1'), (datetime.date(2018, 3, 27), Decimal('5.0000000000'), 'Night event: 2 dattes'), (datetime.date(2018, 3, 28), Decimal('6.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 3, 29), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 3, 30), Decimal('4.0000000000'), 'Night event: 2 dattes + 1 biscuits'), (datetime.date(2018, 3, 31), Decimal('4.0000000000'), 'Night event: 2 dattes + 1 biscuits'), (datetime.date(2018, 4, 1), Decimal('4.5000000000'), 'Night event: 1 gerbles'), (datetime.date(2018, 4, 2), Decimal('5.0000000000'), 'Night event: 1/2 datte 1/2 gerbles'), (datetime.date(2018, 4, 3), Decimal('6.0000000000'), 'Night event: 1'), (datetime.date(2018, 4, 4), Decimal('4.5000000000'), 'None'), (datetime.date(2018, 4, 5), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 4, 6), Decimal('5.5000000000'), 'Night event: 1u a 3h du mat 1.58 et a 5h15 2.52 puis 1u'), (datetime.date(2018, 4, 7), Decimal('6.0000000000'), 'None'), (datetime.date(2018, 4, 8), Decimal('5.0000000000'), 'Night event: 1.5u+ verre syrop myrtille + 1 petite figue + 2 dattes'), (datetime.date(2018, 4, 9), Decimal('5.5000000000'), 'Night event: 1'), (datetime.date(2018, 4, 10), Decimal('4.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 4, 11), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 4, 12), Decimal('5.0000000000'), 'Night event: 1 u'), (datetime.date(2018, 4, 13), Decimal('7.0000000000'), 'Night event: 3 dattes a 3h 0.44 2 dattes + 1 biscuit'), (datetime.date(2018, 4, 14), Decimal('6.0000000000'), 'None'), (datetime.date(2018, 4, 15), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 4, 16), Decimal('4.0000000000'), 'Night event: a 1h30 2.54 1.5 u'), (datetime.date(2018, 4, 17), Decimal('5.0000000000'), 'Night event: rien a 3h 1.73'), (datetime.date(2018, 4, 18), Decimal('5.0000000000'), 'Night event: 2.5u'), (datetime.date(2018, 4, 19), Decimal('5.0000000000'), 'Night event: rien  a 4h 0.8'), (datetime.date(2018, 4, 20), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 4, 21), Decimal('6.0000000000'), 'None'), (datetime.date(2018, 4, 22), Decimal('4.0000000000'), 'None'), (datetime.date(2018, 4, 23), Decimal('4.0000000000'), 'Night event: 2 speculos cassis 1 sucre'), (datetime.date(2018, 4, 24), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 4, 25), Decimal('6.0000000000'), 'Night event: 1.5u'), (datetime.date(2018, 4, 26), Decimal('5.0000000000'), 'Night event: 2'), (datetime.date(2018, 4, 27), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 4, 28), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 4, 29), Decimal('4.0000000000'), 'None'), (datetime.date(2018, 4, 30), Decimal('4.0000000000'), 'Night event: 2 biscuits 1 datte 1 peu de sirop de mirtylle'), (datetime.date(2018, 5, 1), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 5, 2), Decimal('4.5000000000'), 'Night event: 1 biscuit'), (datetime.date(2018, 5, 3), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 5, 4), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 5, 5), Decimal('5.0000000000'), 'Night event: 2.5 u a 0h30 3.09 1.5u et a 5h30 0.49'), (datetime.date(2018, 5, 6), Decimal('4.0000000000'), 'None'), (datetime.date(2018, 5, 7), Decimal('7.0000000000'), 'Night event: 1.95 ds la nuit'), (datetime.date(2018, 5, 8), Decimal('6.0000000000'), 'Night event: a 3h 0.79 1 biscuit'), (datetime.date(2018, 5, 9), Decimal('5.0000000000'), 'Night event: 1 cuillere de miel'), (datetime.date(2018, 5, 10), Decimal('6.0000000000'), 'Night event: miel et 1/2 cake'), (datetime.date(2018, 5, 11), Decimal('4.5000000000'), 'None'), (datetime.date(2018, 5, 12), Decimal('1.5000000000'), 'Night event: 2.5u'), (datetime.date(2018, 5, 13), Decimal('3.0000000000'), 'Night event: 1'), (datetime.date(2018, 5, 14), Decimal('4.5000000000'), 'Night event: 1/2 biscuit'), (datetime.date(2018, 5, 23), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 5, 24), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 5, 25), Decimal('6.0000000000'), 'None'), (datetime.date(2018, 5, 26), Decimal('4.0000000000'), 'None'), (datetime.date(2018, 5, 27), Decimal('4.5000000000'), 'Night event: 1 datte 1 biscuit'), (datetime.date(2018, 5, 28), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 5, 29), Decimal('5.0000000000'), 'Night event: 1'), (datetime.date(2018, 5, 30), Decimal('6.0000000000'), 'Night event: 1'), (datetime.date(2018, 5, 31), Decimal('5.0000000000'), 'Night event: 1/2u'), (datetime.date(2018, 6, 1), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 6, 2), Decimal('4.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 6, 3), Decimal('5.0000000000'), 'Night event: 2.5 u'), (datetime.date(2018, 6, 4), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 6, 5), Decimal('6.0000000000'), 'None'), (datetime.date(2018, 6, 6), Decimal('6.0000000000'), 'None'), (datetime.date(2018, 6, 7), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 6, 8), Decimal('4.0000000000'), 'None'), (datetime.date(2018, 6, 9), Decimal('5.0000000000'), 'Night event: 20g pain'), (datetime.date(2018, 6, 10), Decimal('6.5000000000'), 'Night event: 1'), (datetime.date(2018, 6, 11), Decimal('5.0000000000'), 'Night event: 1.5 u'), (datetime.date(2018, 6, 12), Decimal('5.0000000000'), 'Night event: 1'), (datetime.date(2018, 6, 13), Decimal('6.0000000000'), 'Night event: 1'), (datetime.date(2018, 6, 14), Decimal('5.5000000000'), 'None'), (datetime.date(2018, 6, 15), Decimal('5.5000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 6, 16), Decimal('5.5000000000'), 'None'), (datetime.date(2018, 6, 17), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 6, 18), Decimal('5.5000000000'), 'None'), (datetime.date(2018, 6, 19), Decimal('4.0000000000'), 'None'), (datetime.date(2018, 6, 20), Decimal('5.5000000000'), 'None'), (datetime.date(2018, 6, 21), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 6, 22), Decimal('5.0000000000'), 'Night event: 2'), (datetime.date(2018, 6, 23), Decimal('4.5000000000'), 'Night event: 2 dattes 1 biscuit'), (datetime.date(2018, 6, 24), Decimal('4.5000000000'), 'Night event: 2dattes + 2 gateaux'), (datetime.date(2018, 6, 25), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 6, 26), Decimal('4.0000000000'), 'None'), (datetime.date(2018, 6, 27), Decimal('4.5000000000'), 'None'), (datetime.date(2018, 6, 28), Decimal('4.5000000000'), 'Night event: 2 dattes 1 biscuits jus myrtille'), (datetime.date(2018, 6, 29), Decimal('7.0000000000'), 'Night event: 1 biscuit'), (datetime.date(2018, 6, 30), Decimal('4.5000000000'), 'Night event: 1 biscuit'), (datetime.date(2018, 7, 1), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 7, 2), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 7, 3), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 7, 4), Decimal('5.5000000000'), 'Night event: 1/2 biscuit'), (datetime.date(2018, 7, 5), Decimal('5.0000000000'), 'Night event: 1 biscuit'), (datetime.date(2018, 7, 6), Decimal('6.0000000000'), 'Night event: 1/2 biscuit'), (datetime.date(2018, 7, 7), Decimal('5.0000000000'), 'Night event: 1'), (datetime.date(2018, 7, 8), Decimal('5.0000000000'), 'Night event: 1/2 biscuit'), (datetime.date(2018, 7, 9), Decimal('4.5000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 7, 10), Decimal('5.0000000000'), 'Night event: 1'), (datetime.date(2018, 7, 11), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 7, 12), Decimal('6.0000000000'), 'Night event: 1 u'), (datetime.date(2018, 7, 13), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 7, 14), Decimal('4.5000000000'), 'Night event: petit gateaux'), (datetime.date(2018, 7, 15), Decimal('4.0000000000'), 'None'), (datetime.date(2018, 7, 16), Decimal('5.0000000000'), 'Night event: 1'), (datetime.date(2018, 7, 17), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 7, 18), Decimal('7.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 7, 19), Decimal('6.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 7, 20), Decimal('6.5000000000'), 'Night event: 1'), (datetime.date(2018, 7, 21), Decimal('6.0000000000'), 'Night event: 1'), (datetime.date(2018, 7, 22), Decimal('4.5000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 7, 23), Decimal('4.0000000000'), 'Night event: 1.5 u'), (datetime.date(2018, 7, 24), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 7, 25), Decimal('6.5000000000'), 'Night event: 1'), (datetime.date(2018, 7, 26), Decimal('5.5000000000'), 'Night event: 1.5 u'), (datetime.date(2018, 7, 27), Decimal('5.0000000000'), 'Night event: 1.5 u'), (datetime.date(2018, 7, 28), Decimal('7.0000000000'), 'None'), (datetime.date(2018, 7, 29), Decimal('6.0000000000'), 'Night event: 2'), (datetime.date(2018, 7, 30), Decimal('7.0000000000'), 'None'), (datetime.date(2018, 7, 31), Decimal('5.0000000000'), 'Night event: 1/2 u'), (datetime.date(2018, 8, 1), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 8, 2), Decimal('6.0000000000'), 'None'), (datetime.date(2018, 8, 3), Decimal('4.5000000000'), 'None'), (datetime.date(2018, 8, 4), Decimal('6.0000000000'), 'None'), (datetime.date(2018, 8, 5), Decimal('5.5000000000'), 'None'), (datetime.date(2018, 8, 6), Decimal('4.5000000000'), 'None'), (datetime.date(2018, 8, 7), Decimal('5.0000000000'), 'None'), (datetime.date(2018, 8, 8), Decimal('6.0000000000'), 'Night event: 1/2 u')]

In [88]:
sel = [Users.user_firstname, Users.user_lastname, Indicators.indicator_name, Indicators.indicator_type]

In [90]:
q = session.query(*sel).filter(Users.user_id == Users_Indicators_Values.user_id).\
filter(Indicators.indicator_id <= Users_Indicators_Values.indicator_id).\
group_by(Users_Indicators_Values.user_id).all()

print(q)

[('Juliette', 'Leblanc', 'Slow acting insulin (morning intake dose)', 'Numeric')]